.filterDiv {
    float: center;
    background-color: #899db2;
    color: white;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 10px;
    display: none;
    flex: 0 1 calc(20%);
}

.show {
    display: block;
}

.container {
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}


/* Style the buttons */

.btn {
    border: none;
    outline: none;
    padding: 15px 40px;
    background-color: #262d34;
    cursor: pointer;
    color: white;
}

.btn:hover {
    background-color: #434f5b;
    color: white;
}

.btn.active {
    background-color: #434f5b;
    color: white;
}