@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
html {
    height: 100%;
}

body {
    display: flex;
    direction: column;
    height: 100%;
    background: #262d34;
    font-family: 'Arimo', sans-serif;
}

ul.nav {
    display: flex;
    position: relative;
    direction: row;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    background: #262d34;
}

ul li {
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    height: 60px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: 1px;
    color: #e7e6f1;
    cursor: pointer;
}

hover {
    background: rgba(0, 0, 0, 0.1);
}

hover ul.dropdown {
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
    z-index: 0;
    background: #434f5b;
    color: white;
}

ul.dropdown {
    visibility: hidden;
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    margin: 0;
    padding: 5px 0 30px;
    list-style: none;
    color: #333;
    background: #e5e4ea;
    box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, 0.15), 0px 4px 14px -1px rgba(0, 0, 0, 0.1);
    transform: translate(0, -60px);
    transition: transform 0.2s ease-out, opacity 0.2s, z-index 0s 0.2s;
    opacity: 0;
    z-index: -1;
}

ul li {
    font-size: 14px;
    cursor: pointer;
}

hover {
    background: rgba(0, 0, 0, 0.06);
}

@keyframes slideInLeft {
    from {
        transform: translate(-25%, 0);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}